body{
    background-color: rgb(35, 35, 35);
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;

}
.topnav{
    width: 100%;
    max-height: 40px;
    min-height: 50px;
    background-color: rgb(180, 65, 65);
    display: flex;
    justify-content: space-evenly;
    padding-left: 5px;
    border-bottom: 2px solid rgb(35, 226, 255);
}
.navbar-menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    z-index: 1;
    transform: translateY(-70px);
    background-color: aqua;
}
  
.navbar-menu li {
    position: relative;
}
  
.navbar-menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar-menu a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
  
  /* Responsive adjustments */
@media (max-width: 768px) {
    .navbar-menu {
      flex-direction: column;
    }
  
.navbar-menu li {
      width: 100%;
    }
  
.navbar-menu a {
      padding: 10px;
      text-align: left;
   }
  
.dropdown-content {
      position: static;
    }
}

