@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-image: url(ab7811194606703.65fed25c5551e.png);
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    font-family: 'Montserrat';
    background-size: cover;
    background-attachment: fixed;
    

}
.topnav{
    width: 100%;
    max-height: 40px;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.444);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-evenly;
    padding-left: 5px;
    border-bottom: 2px solid rgb(35, 226, 255);
    font-family: 'Montserrat';
    align-items: center;
    
    

}
.topnav button{
    height: 30px;
    align-self: center;
    background-color:transparent;
    border: 0px solid;
    color: #ddd;
    font-family: 'Montserrat';
    border-radius:3px;
    display: flex;
    align-items: center;
    
}#hidbtn{
    margin-right: 50%;
}
.topnav button:hover{
    box-shadow: 0px 0px 20px blue;
    background-image: linear-gradient(120deg,blue,blue,purple);
    transition-duration: .5s;
    
    
}
    
.prev:hover{
    transform: translateX(-5px);
}
.Next:hover{
    transform: translateX(5px);
}

.topnav span{
    color: white;
 

}
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #11111192;
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    padding-top: 20px;
    transform: translateY(50px);
    transition-duration: .5s;
    
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition-duration: .4s;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #ae00ff;
    transition-duration: .4s;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-image: linear-gradient(120deg,cyan,purple);
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
.myvid{
    margin-left: 0px;
    position: fixed;
    width: 100%;
}


.vid{
    background-color: rgba(34, 174, 146, 0);
    width:100%;
    height: fit-content;

    
    
}
.myvid{
    margin-left:20%;
    width: 80%;
    transition-duration: .5s;
}

.hide{
    transform: translateX(-100%);
    transition-duration: .5s;
    
    
}

.widen{
    width: 100%;
    margin-left: 0px;
    transition-duration: .5s;
}

.tr1{
    transform: translateX(-200px);
    opacity: 0;
    transition-duration: .5s;
    
}

@media (max-width: 768px){
    .sidenav{
        width: 100%;
        background-color: #262626;
        transition-duration: .5s;
    
    }



}