@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
    height: 1000px;
    width: 100%;
    
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(60DEG,PURPLE,rgb(243, 187, 255));
  border-radius: 3PX;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;

}
.topnav{
    width: 100%;
    max-height: 40px;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.997);
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: space-evenly;
    padding-left: 5px;
    border-bottom: 2px solid rgb(35, 226, 255);
    font-family: 'Montserrat';
    align-items: center;
    z-index: 1;
    position: fixed;
}
.topnav button{
    height: 30px;
    align-self: center;
    background-color:transparent;
    border: 0px solid;
    color: #000000;
    font-family: 'Montserrat';
    border-radius:3px;
    display: flex;
    align-items: center;
}
.topnav button:hover{
    box-shadow: 0px 0px 7px rgb(195, 92, 255);
    background-image: linear-gradient(120deg,rgb(0, 229, 255),rgb(67, 186, 255),rgb(255, 161, 255));
    transition-duration: .5s;
    
    
}.dropdown a{
  background-color: rgb(255, 255, 255);
  color: #000000;
}
.hidbtn{
    margin-right: 260px;
}
.sidenav {
    height: 100%;
    width: 30%;
    max-width: 200px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #11111192;
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    padding-top: 50px;
    
    transition-duration: .5s;
    font-family: 'Montserrat';
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition-duration: .4s;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #ae00ff;
    transition-duration: .4s;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-image: linear-gradient(120deg,cyan,purple);
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
}
.hide{
    transform: translateX(-200px);
}
.tr1{
  transform: translateX(-500px);
  opacity:0 ;
}
.dark{
  width: 100%;
  height: 300vh;
  backdrop-filter: blur(10px);
  background-color: #3939395b;
  margin-top: 0px;
  position: fixed;
  z-index: 999;
  transition-duration: .3s;
  transform: translateX(9000px);
  
}.cutbtn{
  border: 0px;
  background-color: rgba(198, 71, 71, 0);
  margin: 0px 4px 7px auto;
  border-radius: 40px;
  display: flex;
  align-items: center;
  height:35px;
  transition-duration: .2s;
  
}
.cutbtn:hover{
  background-color: #979797;
  transition-duration: .2s;
}
.login{
  width: 400px;
  height: 400px;
  background-color: #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 150px;
  padding-bottom: 50px;
  
}
.login button{
  border: 0px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.166);
  
}
.login h2{
  margin-bottom: 0px;
}
.fillbox{
  height: 80px;
  overflow: hidden;
  display: flex;
  width: 200px;
  background-color: rgb(0, 229, 255);
  border-radius: 5px;
  
}
.fillbox div{
  margin: 5px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
   
}
.fillbox input{
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  margin-top: 0px;
  height: 30px;
}
.pop{
  transform: translateX(0px);
  transform: translateY(-52px);
  transition-duration: .5s;

}
#btn{
  margin-bottom: 0px;
  
}
#btn button{
  margin: 5px;
  border-radius: 5px;
  height: 30px;
  width: 80px;
}
#btn button a{
  color: #000000;
  text-decoration: none;
}
#sbmt{
  border-radius: 5px;
  height: 30px;
  width: 80px;
}
.slider{
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-image:url(ab7811194606703.65fed25c5551e.png);
  
  background-attachment: fixed;
}

.slider h1{
  margin-top: 50px;

}
.sub{
  width: 650px;
  height: 500px;
  background-color: #7c4794eb;
  display: inline flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
  border-radius: 10PX;
  
}
.sub div{
  height: 200px;
  width: 90%;
  background-color: #ffffff;
  margin: 20px;
  box-shadow:2px 2px 5px rgb(105, 105, 105);
  border-radius: 20px;
  transition: .5s ease-in-out;
}
.sub div:hover{
  height: 500px;
  background-image: linear-gradient(120deg,rgb(222, 222, 255),rgb(168, 82, 168));
  
  transition: .5s ease-in-out;
}
.bth{
  background-color: #ae00ff;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  
  width:650px;
  height: 500px;
  border-radius: 10PX;
  overflow: scroll;
  

  
  
}.bth h1{
  width: 100%;
  
}.bth div,.bth button{
  height: 200px;
  width: 90%;
  background-color: #ffffff;
  margin: 20px;
  box-shadow:2px 2px 5px rgb(105, 105, 105);
  border-radius: 20px;
  transition: .5s ease-in-out;
}
.bth div:hover{
  height: 350px;
  background-image: linear-gradient(120deg,rgb(222, 222, 255),rgb(168, 82, 168));
  
  
}








































@media (max-width: 768px){
  .sidenav{
      width: 768px;
      max-width: 100%;
      background-color: #111111;
      transition-duration: .5s;
      
      
  
  }
  .hide{
    transform: translateX(-100%);
  }

}







